body {
  background-color: #fff;
  color: black;
  font-family: "Raleway", Helvetica, sans-serif;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

.clr {
  clear: none;
}

#logo {
  border: 3px solid black;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  margin-bottom: 10px;
}

#navbar {
  margin: 0;
  float: right;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar li {
  display: inline-block;
}

#navbar a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}

/* secondpart */
.second-top {
  display: flex;
  justify-content: space-evenly;
}
.info {
  width: 40%;
  color: black;
}
button {
  border-radius: 10px;
  background-color: brown;
  font-size: 1.3em;
}
.second-top:hover .button {
  transform: scale(2s);
  transition: transform 2s ease-in-out delay;
}
span {
  margin-left: 10px;
}
.logo-use {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid pink;
  margin-left: 10px;
  margin-top: 100px;
  flex-wrap: wrap;
}
.logo img {
  padding-left: 50px;
  padding-right: 20px;
  margin-left: 0;
}
.additionl-part {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.Footer-part {
  text-align: center;
  background-color: black;
  color: white;
}
Footer h2 {
  margin-top: 30px;
}
footer a {
  list-style-type: none;
  display: inline-block;
  color: white;
  padding-right: 15px;
}
.items {
  width: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 250px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.item {
  width: 280px;
  border: 1px solid gray;
  box-shadow: 5px 5px gray;
  margin-bottom: 10px;
  border-radius: 5px;
}
.item-detail {
  margin-left: 3px;
}
.item .item-banner img {
  width: 270px;
  height: 150px;
  padding-left: 5px;
  border-radius: 8px;
  border: gray;
  padding-left: 2px;
  margin-top: 5px;
}
.heading {
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
}

.item-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}

/* Media Queries */
@media only screen and (max-width: 680px) {
  .items {
    background-color: indigo;
  }
}
